<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entertainment Review</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <nav class="wrapper">
    <center>
      <header>
        <h1>Entertainment Review</h1>
        <nav>
          {{dateNow}}
          <a href="/">Homepage</a>          
          {{#if loggedIn}}
          <button href="/logout" id="logout" class="btn-no-style">Logout</button>
          <a href="/music">Music</a>
          <a href="/television">Television</a>
          <a href="/video-games">Video Games</a>
          <a href="../post">Create a New Post</a>
          {{else}}
          <a href="/login" class="btn-no-style">Login</a>
          <a href="/signup" class="btn-no-style">Signup</a>
          {{/if}}
        </nav>
      </header>
    </center>
  </nav>

  {{{body}}}


  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/index.js"></script>
</body>

</html>