<body>
    <center>
        <article class="container">
            <div id="aboutme" class="television">
                <div class="aboutMe">
                    <h2 class="shadow">Television</h2>
                </div>
            </div>
        </article>
        <br><br><br><br>
        <article class="container">
            <div id="aboutme" class="postone">
                <h2 class="shadow">{{{userTitle}}}</h2>
                <h5>{{{userReview}}}
                </h5>
                <h2 class="shadow">{{{userRating}}}</h2>
            </div>
        </article>
    </center>
    <div class="container">
    </div>
    <script src="../public/js/login.js"></script>
    <script src="../public/js/logout.js"></script>
</body>