<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entertainment Review</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
  <div class="wrapper">
    <center>
      <header>
        <h1>Entertainment Review</h1>
        <nav>
          <a href="/main">Homepage</a>
          {{#if loggedIn}}
          <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
          <a href="/login" class="btn-no-style">Login</a>
          {{/if}}
        </nav>
      </header>
    </center>
  </div>
  <br><br><br><br>
  <!--<center>
    <article class="container">
      <div id="aboutme" class="aboutmeSection">
        <div class="aboutMe">
          <h2 class="shadow">About Us</h2>
          <br>
          <p> Hello everyone, we are the founder's of Entertainment Review. We built this application as a forum where
            movie buffs, music lovers and gamers come to post their reviews regarding a piece of entertainment of their choice.
        </div>
      </div>
    </article>
  </center>-->
  {{{body}}}

  <footer>
    Thank you for checking Entertainment Reviews! Have a great day!
  </footer>
  <script src="/public/js/login.js"></script>
  <script src="/public/js/logout.js"></script>
</body>
</html>